<div class="mx-4 my-2">
  <h3 class="text-primary">New author</h3>
  <hr>
  <%= render "form", author: @author %>
  <hr>
  <br>
  <div>
    <%= link_to "Back to authors", authors_path %>
  </div>
</div>
