<div class="mx-4 my-2">
  <h3 class="text-primary">Editing book</h3>
  <hr>
  <%= render "form", book: @book %>
  <hr>
  <br>
  <div>
    <%= link_to "Show this book", @book %> |
    <%= link_to "Back to books", books_path %>
  </div>
</div>
